# Plotting publications using plotly

In [10]:
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.tools as tls
# Need to add personal credentials
tls.set_credentials_file(username='', api_key='')

In [3]:
df = pd.read_csv('publications.csv')

In [4]:
df.head()

   School Year  Total Issues  Total Pages         Title
0         1915             7           32  The Polygram
1         1916            25          174  The Polygram
2         1917            13           52  The Polygram
3         1918            15           60  The Polygram
4         1919            15           60  The Polygram

In [5]:
df['Title'].unique()

array(['The Polygram', 'El Mustang', 'The Polytechnic Californian',
       'Mustang Daily', 'Outpost', 'Summer Mustang', 'Mustang News'], dtype=object)

In [6]:
the_polygram = df[df['Title']=="The Polygram"]
el_mustang = df[df['Title']=="El Mustang"]
the_polytechinic_californian = df[df['Title']=="The Polytechnic Californian"]
mustang_daily = df[df['Title']=="Mustang Daily"]
outpost = df[df['Title']=="Outpost"]
summer_mustang = df[df['Title']=="Summer Mustang"]
mustang_news = df[df['Title']=="Mustang News"]

In [7]:
the_polygram.head()

   School Year  Total Issues  Total Pages         Title
0         1915             7           32  The Polygram
1         1916            25          174  The Polygram
2         1917            13           52  The Polygram
3         1918            15           60  The Polygram
4         1919            15           60  The Polygram

In [8]:
trace_the_polygram = go.Bar(
    x=the_polygram['School Year'],
    y=the_polygram['Total Issues'],
    name='The Polygram'
)

trace_el_mustang = go.Bar(
    x=el_mustang['School Year'],
    y=el_mustang['Total Issues'],
    name='El Mustang'
)
trace_the_polytechinic_californian = go.Bar(
    x=the_polytechinic_californian['School Year'],
    y=the_polytechinic_californian['Total Issues'],
    name='The Polytechnic Californian'
)
trace_mustang_daily = go.Bar(
    x=mustang_daily['School Year'],
    y=mustang_daily['Total Issues'],
    name='Mustang Daily'
)
trace_outpost = go.Bar(
    x=outpost['School Year'],
    y=outpost['Total Issues'],
    name='Outpost'
)

trace_summer_mustang = go.Bar(
    x=summer_mustang['School Year'],
    y=summer_mustang['Total Issues'],
    name='Summer Mustang'
) 

trace_mustang_news = go.Bar(
    x=mustang_news['School Year'],
    y=mustang_news['Total Issues'],
    name='Mustang News'
)

In [19]:
data = [trace_the_polygram, trace_el_mustang,trace_the_polytechinic_californian, trace_mustang_daily, trace_outpost, trace_summer_mustang, trace_mustang_news ]
layout = go.Layout(
    barmode='stack',
    title='Cal Poly Publications',
    plot_bgcolor='rgba(0,0,0,0)',
    xaxis=dict(
        title='Years',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Issues',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-bar')