# TF-IDF notebook
This notebook applies TF-IDF to a given corpus

In [1]:
import gensim
import os
import re
import pandas as pd

In [20]:
# Open files and add to a list
documents = []
for f in os.listdir('by_decade'):
    if f[0] is not '.':
        with open('by_decade/'+f,'r') as file:
            documents.extend(file.readlines())

In [23]:
documents = list(map(lambda x : re.sub("[0-9]|\.|---","",x.rstrip()),documents))

In [24]:
texts = [d.split() for d in documents]

In [25]:
dictionary = gensim.corpora.Dictionary(texts)

In [26]:
corpus = [dictionary.doc2bow(text) for text in texts]

In [27]:
tfidf = gensim.models.tfidfmodel.TfidfModel(corpus,id2word=dictionary)

In [28]:
corpus_tfidf = tfidf[corpus]

In [38]:
df = pd.DataFrame(columns = ['year','term','tfidf'])
df['year'] = df['year'].astype(int)
df['term'] = df['term'].astype(str)
df['tfidf'] = df['tfidf'].astype(float)

In [39]:
for n in [(0,1910),(1,1920),(2,1930),(3,1940),(4,1950),(5,1960),(6,1970),(7,1980),(8,1990),(9,2000)]:
    document = sorted(corpus_tfidf[n[0]],key=lambda x: x[1],reverse=True)
    for entry in zip([(dictionary[key]) for key in [x[0] for x in document[0:100]]],[y[1] for y in document]):
        df = df.append(pd.DataFrame([[n[1],entry[0],entry[1]]],columns = ['year','term','tfidf']))

In [41]:
df

    year          term     tfidf
0   1910        kelvin  0.477322
0   1910       elsbeth  0.280477
0   1910         ryder  0.195372
0   1910        joshes  0.155574
0   1910      truelove  0.155173
0   1910          josh  0.150989
0   1910         taber  0.143656
0   1910         lieut  0.123445
0   1910      scarlett  0.115216
0   1910          karo  0.103334
0   1910    prisoner's  0.088572
0   1910       ferrell  0.086194
0   1910      marcella  0.082297
0   1910       mabelle  0.074192
0   1910       wieland  0.074192
0   1910         ne'er  0.074192
0   1910    johnston's  0.074192
0   1910     wilkins's  0.074192
0   1910       tableau  0.073810
0   1910        wienie  0.073810
0   1910         mable  0.067002
0   1910        kohler  0.065838
0   1910       terrill  0.065838
0   1910        helene  0.061114
0   1910        ferrel  0.059048
0   1910      knockers  0.058190
0   1910        dollie  0.058190
0   1910     influenza  0.057519
0   1910          herr  0.057519
0   1910       joshing  0.051858
..   ...           ...       ...
0   2000       baghdad  0.041502
0   2000        mccain  0.041087
0   2000       options  0.041071
0   2000         kevin  0.040999
0   2000          ncaa  0.040343
0   2000          bush  0.040186
0   2000        iraqis  0.039734
0   2000        cancer  0.039687
0   2000       chumash  0.039660
0   2000            dj  0.039519
0   2000     lawmakers  0.038884
0   2000        laptop  0.038504
0   2000       overall  0.038349
0   2000        soccer  0.037939
0   2000        videos  0.037636
0   2000        suffix  0.037397
0   2000     solutions  0.037245
0   2000        afghan  0.037182
0   2000         micah  0.036937
0   2000         mardi  0.036849
0   2000   alternative  0.036771
0   2000        rachel  0.036735
0   2000        toyota  0.036700
0   2000         jason  0.036431
0   2000     aerospace  0.036403
0   2000    republican  0.036229
0   2000  commentaries  0.036170
0   2000       digital  0.036013
0   2000     lifestyle  0.035951
0   2000        ethnic  0.035836

[1000 rows x 3 columns]

In [42]:
df.to_csv('tfidf_decade.csv')

In [ ]:
raw_counts

In [ ]:
percentage

In [ ]:
df['raw_counts'] = pd.Series(raw_counts).values

In [ ]:
df['percentage'] = pd.Series(percentage).values

In [ ]:
df

In [ ]:
df.sort_values(by = 'percentage', ascending=False)

In [ ]:
df.to_csv('tfidf.csv')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
years = [1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2010]
for y in years:
    plt.figure(figsize=(15,7))
    plt.title(y)
    sns.barplot(x = 'tfidf',y = 'term',data=df[df['year']==y]);